.topMenu {
    height: 8rem;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2640;
}

.left {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

// ******

.logo,
.logo:visited {
    text-decoration: none;
    color: #fff;
}

.logo > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    height: 4rem;
}

.logo p {
    font-size: 4rem;
}

// ******

.mainMenu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.mainMenu > a,
.mainMenu > a:visited {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.mainMenu > a:hover,
.mainMenu > a:hover:visited {
    color: #65e4a3;
    text-decoration: underline 0.1rem;
}

// ******

.right a,
.right a:visited {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.right a:hover,
.right a:hover:visited {
    color: #65e4a3;
    text-decoration: underline 0.1rem;
}
