//html {
//    font-size: 62.5%;
//    @media screen and (max-width: 1200px) {
//        font-size: 50%;
//    }
//    @media screen and (max-width: 768px) {
//        font-size: 62.5%;
//    }
//}
//
body {
    font-family: 'Inter Variable', sans-serif;
}
//
//a,
//a:visited {
//    text-decoration: none;
//}

label {
    font-weight: 600;
    font-size: 12px;
    color: #171a1c;
}
