:root {
    --color-white: #efefef;

    --color-main: #373a4d;
    --color-main_rgb: 55, 58, 77;
    --color-second: #8b95a6;
    --color-second_rgb: 139, 149, 166;

    --color-accent: #20b596;

    --color-font_main: #4a4e65;
    --color-font_second: #8b95a6;

    --delay-animation: 0.24s;
    --delay-animation_fast: 0.16s;

    --color-leftPanel: #373a4d;
}
